* {
	margin: 0;
	padding: 0;
}
div.container {
	font-family: 'Ma Shan Zheng', cursive;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
p {	
	font-family: 'Ma Shan Zheng', cursive;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center
}
h2 {	
	font-family: 'Ma Shan Zheng', cursive;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center
}
h1 {	
	font-family: 'Ma Shan Zheng', cursive;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center
}
a {
	font-family: 'Ma Shan Zheng', cursive;
	color:#2196f3;
	cursor:pointer;
	text-decoration:none;
	-moz-transition:all .28s ease;
	-webkit-transition:all .28s ease;
	-o-transition:all .28s ease
}
a:hover {
	color:#ff5722
}
a:active,a:hover {
	outline:0
}
img.avatar {
    display: block;
    border-radius: 600px;
}
div.container {
    display: inline-block;
    border-radius: 10px;
}